:root {
    /* Player Colors */
    --Red: #d32f2f;
    --Blue: #1976d2;
    --Green: #388e3c;
    --Yellow: #FBC02D;
    --Purple: #7B1FA2;
    --Black: #212121;
    --Orange: #f57c00;
    --Pink: #e91e63;


    --background-color: #181818;
    --tranceparent-bg: rbg(120, 120, 120, 200);

    --Minor-Dividors: #414141;

    --Locked-Tech-Btn-bg: #414141;
    --Tech-Exausted-Color: #ed8de8;
}

html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    color: white;
    
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: #444;
    background: var(--background-color);
    font: 300 18px/18px Roboto, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; /*Maybe switch to baselien*/
}


.Top {
    display: flex;
    width: 100%;
    height: 100%;
}

.Top-Overlay {
    display: flex;
}

#Top-Main {
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#Text-Column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    color: white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.Main-Text-Row {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
}



#Player-Columns {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
}

.Player-Column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    border-right: 2px solid white; 
}



.Player-Name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80%;
    height: 100%;
    font-size: 80%;
}

.Player-Color {
    width: 10%;
    height: 80%;
    background-color: white;
}

/* .Score-Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
} */

.Score-Counter-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    font-size: 100%;
}

/* Add the rounded corners later */
.Minus-Btn {
    height: 80%;
    width: 20%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

.Plus-Btn {
    height: 80%;
    width: 20%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
}

.Score-Input {
    height: 80%;
    width: 40%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    font-size: 150%;
}



#Tech-Header-Row {
    height: 80%;
    /* font-size: 1.5vh; */
    border-top: 0px;
    color: white;
}

#Text_Tech_All_Container {
    height: 100%;
    width: 100%;
}

.All-Tech-Row {
    width: 100%;
    height: 20%;
    display: flex;
    margin: 0px;
}

.Main-Techs-Container {
    width: 100%;
    height: 100%;
}

.Tech-Color-Section {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid white;
}

.Tech-Btns-Container {
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 1px solid var(--Minor-Dividors);
    
    
}

.Tech_Card_Text {
    width: 100%;
    height: 16%;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: 600;
    text-align: left;
    text-justify: center;

    padding-left: 5px;
    font-size: 1.6vh;
    border-top: 1px solid var(--Minor-Dividors); 
}

.Tech-Btn {
    width: 12%;
    height: 80%;
    border: none;
    /* mask: url("./SVGs/bacteria.svg") no-repeat center; */
    /* background-color: red; */
}

.Tech-Btn-Locked {
    background-color: var(--Locked-Tech-Btn-bg);
}

/* .Tech-Btn-Locked:hover {
    background-color: #545454;
} */

.Tech-Btn-Red {
    background-color: var(--Red);
}

.Tech-Btn-Yellow {
    background-color: var(--Yellow);
}

.Tech-Btn-Green {
    background-color: var(--Green);
}

.Tech-Btn-Blue {
    background-color: var(--Blue);
}

.Tech-Btn-Purple {
    background-color: var(--Purple);
    
}

.Tech-Btn-Exaust {
    filter: brightness(0.6);
    /* background-color: var(--Tech-Exausted-Color); */
}


.Tech-Btn-Locked {
    background-color: var(--Locked-Tech-Btn-bg);
}

.Tech-Btn:hover {
    filter: brightness(1.2); /* Increase brightness by 20% */
}

.First-Tech-In-Section {
    border-top: none;
}


/* Speaker & Turn Order Stuff */
.Strategy-Dropdown-Btn {
    width: 100%;
    height: 100%;
    background-color: #3498db;
    display: block;
    color: black;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 150%;
}

.Strat-Dropdown-Container {
    width: 30%;
    height: 80%;
}

/* Dropdown Container */
.Strat-Dropdown {
    position: relative;
    display: inline-block;
    
}

/* Dropdown Content */
.Strat-Dropdown-Content {
    display: none;
    position: absolute;
    width: 3%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    /* min-width: 200px; */
    border-radius: 5px;
}

/* Dropdown Options */
.Strat-Dropdown-Option {
    /* padding: 10px; */
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

/* Last option doesn't need a border */
.Strat-Dropdown-Option:last-child {
    border-bottom: none;
}

/* Hover Effect */
.Strat-Dropdown-Option:hover {
    background-color: #ddd;
}

/* Show dropdown when active */
.Strat-Dropdown.show .Strat-Dropdown-Content {
    display: block;
}

.Strat-Dropdown-Container.show .Strat-Dropdown-Content {
    display: block;
}


/* Speaker Token */

.Speaker-Token-Btn {
    width: 50%;
    height: 80%;
    border: none;
    padding: none;
    margin: none;
    background-color: rgba(0, 0, 0, 0.416);
}

.Speaker-Token-Btn img {
    width: 100%;
    height: 100%;
}







#Add-Player-Top {
    position: fixed;
    top: 5%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    width: 70%;
    height: 90%;
    background-color: #212121d1;
}

.Top-Overlay {
    position: fixed;
    top: 5%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    width: 70%;
    height: 90%;
    background-color: #212121d1;
}


/* Add Player Style */
.Add-Player-Input-Container {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
    /* padding-top: 5%; */
    width: 50%;
    height: 20%;
}

#Player-Name-Input {
    width: 100%;
    height: 65%;
    /* Deal with color Later */
}

/* I need to position this */

.Add-Player-Header {
    font-size: 5vh;
    width: 100%;
    height: 5vh;
    padding: 5%;
    padding-left: 0px;
    color: white;
    text-align: start;
    text-justify: center;
}

#Player-Color-Selector-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 60%;
}

.Color-Option-Container {
    display: flex;
    flex-direction: row;
}

#Pick-Color {
    height: 70%;
}


#Player-Color-Selector-Container label {
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    color: white;
    font-size: 3vh;
    text-justify: center;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* following an online guide here */
#Player-Color-Selector-Container label input[type="radio"] {
    box-sizing: border-box;
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    background-color: var(--Minor-Dividors);
    /* Not removed via appearance */
    margin: 0px;
    padding: 0px;
    font: inherit;
    color: currentColor;
    width: 1.25vw;
    height: 1.25vw;
    /* border: 1px solid purple; */
    border-radius: 50%;
    margin-right: 2%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}



#Player-Color-Selector-Container label input[type="radio"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75vw;
    height: 0.75vw;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 120ms transform ease-in-out;
}

#Player-Color-Selector-Container label input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

#Player-Color-Selector-Container label input[value="red"]:checked::before {
    background-color: var(--Red);
}
#Player-Color-Selector-Container label input[value="orange"]:checked::before {
    background-color: var(--Orange);
}
#Player-Color-Selector-Container label input[value="yellow"]:checked::before {
    background-color: var(--Yellow);
}
#Player-Color-Selector-Container label input[value="green"]:checked::before {
    background-color: var(--Green);
}
#Player-Color-Selector-Container label input[value="blue"]:checked::before {
    background-color: var(--Blue);
}
#Player-Color-Selector-Container label input[value="purple"]:checked::before {
    background-color: var(--Purple);
}
#Player-Color-Selector-Container label input[value="pink"]:checked::before {
    background-color: var(--Pink);
}
#Player-Color-Selector-Container label input[value="black"]:checked::before {
    background-color: var(--Black);
}



/* #Add-Player-Footer {
    position: absolute;
    bottom: 1%;
    width: 96%;
    height: 7%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#Add-Player-Footer button {
    width: 10%;
    height: 80%;
    border: none;
    background-color: white;
} */

.Overlay-Footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #121212d1;
}

.Overlay-Footer button {
    width: 10%;
    height: 80%;
    margin: 1%;
    border: none;
    background-color: white;
}




/* Side Bar */

#Sidebar {
    height: 100%;
    width: 15vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 2px solid white;
    display: inline-block;
    padding: 10px 20px;
    margin: 0px 0px;

    text-align: left;
    text-transform: uppercase;
    color: white;
}

#Sidebar.collapsed {
    transform: translateX(-200%);
}

#Close-Sidebar-Btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background: none;
    border: none;
    color: #818181;
    cursor: pointer;
}

#Open-Sidebar-Btn {
    font-size: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--tranceparent-bg);
    color: white;
    border: none;
    /* padding: 10px 15px; */
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.Sidebar-Option {
    padding: 10px 20px;
    margin: 0px 0px;
    background: none;
    border: none;
    color: #818181;
    font-size: 3vh;
}

.Sidebar-Option:hover {
    color: #f1f1f1;
}

/* Card Search */

.Cards-Main-Body {
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#Search-Bar-Container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

#Cards-Search-Bar {
    width: 80%;
    height: 5vh;
}

#Scrollable-List-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

ul {
    list-style: none; /* Removes bullet points */
    padding: 0;       /* Removes default padding */
    margin: 0;        /* Removes default margin */
}

li {
    padding: 0;
    margin: 0;
}

#Card-List {
    width: 80%;
}

#Card-List li {
    padding: 2px;
}

#Card-List li button {
    border: none;

}

#Card-Display-Container {
    height: 100%;
}

/* Cards */
.Agenda-Container {
    /* width: 200px; */
    height: 100%;
    aspect-ratio: 2 / 3;

    /* Path to your image */
    /* background-image: url('../SVGs/Agenda_Card.svg');  */
    background-size: cover; /* Ensures the image fits the div */
    background-size: contain;
    background-repeat: no-repeat;

    background-position: center; /* Centers the image */
    position: relative;
    font-weight: bold;
}

/* 
    Brain
    https://fontawesome.com/icons/brain?f=classic&s=solid
    Atom
    https://fontawesome.com/icons/atom?f=classic&s=solid
    Robot
    https://fontawesome.com/icons/robot?f=classic&s=solid
    1

    Green:
    syring/Bio-Stim: https://fontawesome.com/icons/syringe?f=classic&s=solid
   bacteria/X-89: https://fontawesome.com/icons/bacterium?f=classic&s=solid 
   flag/Dacxive: https://fontawesome.com/icons/flag?f=classic&s=solid

   
   Blue:
   Antimass: https://fontawesome.com/icons/meteor?f=classic&s=solid

   
   
   */

.Agenda-Container-LAW {
    background-image: url('../SVGs/Agenda_Card_Law.svg');
}

.Agenda-Container-DIRECTIVE {
    background-image: url('../SVGs/Agenda_Card_Directive.svg');
}


.Agenda-Title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: center;
    position: relative;
    font:inherit;
    font-size: 50px;
    color: white;
    top: 0px;
    left: 10%;
    width: 80%;
    height: 21%;
    /* background-color: rgba(255, 255, 255, 0.337); */
}

.Agenda-Type {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: center;
    
    font-size: 30px;
    
    
    position: relative;
    top: 0px;
    left: 20%;
    width: 60%;
    height: 5%;
    /* background-color: rgba(255, 60, 60, 0.337);  */
}

.LAW {
    color: orange;
}

.DIRECTIVE {
    color: yellow;
}

.Agenda-Text-Area {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 74%;
    /* background-color: rgba(74, 0, 0, 0.458);  */
}

.Agenda-Marker {
    display:inline;
    position:absolute;
    right: 3%;
    top: 2%;
    width: 6%;
    height: 4%;
    background-color: rgb(255, 0, 0);
    background: none;
}

.Agenda-Text-Area {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: relative;
    left: 10%;
    width: 80%;

}

.Agenda-Elect-Header {
    color: black;
    font-size: 60px;
    font-weight: bolder;
    align-self: center;
    padding-top: 5%;
}

.Agenda-Section-Desc {
    color: black;
    font-size: 50px;
    align-self: center;
    line-height:normal;
    font-weight: 400;
    padding-top: 5%;
}

.Agenda-Section-Header {
    color: black;
    font-size: 60px;
    font-weight: bold;
    padding-top: 5%;
}



/* Stays at the bottom */
.Exausted {
    filter: brightness(0.6);
    color: white;
}

.Hidden {
    display: None !important;
}





